<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta name="format-detection" content="telephone=no" />
<title><%- meta.title %></title>
<meta name="description" content="<%- meta.description %>" />

<!-- OGP共通項目 -->
<meta property="og:type" content="WEBsite" />
<meta property="og:title" content="<%- meta.title %>" />
<meta property="og:url" content="http://www.sample.com/<%- meta.url %>" />
<meta property="og:description" content="<%- meta.description %>" />
<meta
  property="og:image"
  content="http://www.sample.com/<%- meta.url %>/img/"
/>
<meta property="og:site_name" content="サイト名が入ります" />

<!-- Twitter用 -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@twitter_name" />
<meta name="twitter:title" content="<%- meta.title %>" />
<meta name="twitter:url" content="http://www.sample.com/<%- meta.url %>" />
<meta name="twitter:description" content="<%- meta.description %>" />

<link rel="canonical" href="http://www.sample.com/<%- meta.url %>" />
<link rel="icon" href="http://www.sample.com/<%- meta.url %>/img/favicon.png" />
<link
  rel="apple-touch-icon"
  href="http://www.sample.com/<%- meta.url %>/img/apple-touch-icon.png"
/>
<link rel="stylesheet" href="/css/style.css" />
