<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-------------------------------------------------------->
    <% var path = './'; %>
    <% var title = 'タイトルが入ります'; %>
    <% var description = 'ディスクリプションが入ります'; %>
    <% var siteName = 'サイト名が入ります'; %>
    <% var url = 'http://www.sample.com'; %>
    <!-------------------------------------------------------->

    <%- include(`${path}partials/_head`); %>

    <title><%- title %></title>
    <meta name="description" content="<%- description %>" />

    <!-- OGP共通項目 -->
    <meta property="og:type" content="WEBsite" />
    <meta property="og:title" content="<%- title %>" />
    <meta property="og:url" content="<%- url %>" />
    <meta property="og:description" content="<%- description %>" />
    <meta property="og:image" content="<%- url %>/img/" />
    <meta property="og:site_name" content="<%- siteName %>" />

    <!-- Twitter用 -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@twitter_name" />
    <meta name="twitter:title" content="<%- title %>" />
    <meta name="twitter:url" content="<%- url %>" />
    <meta name="twitter:description" content="<%- description %>" />

    <link rel="canonical" href="<%- url %>" />
    <link rel="icon" href="<%- url %>/img/favicon.png" />
    <link rel="apple-touch-icon" href="<%- url %>/img/apple-touch-icon.png" />
    <link rel="stylesheet" href="/css/style.css" />


    <!-- ▼ ページ固有の css はココで読み込む -->
    <!-- swiper(スライダー) を読み込んでいる -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.5/swiper-bundle.css"
      integrity="sha512-jxGmKjC/OykrTklkNK2NgnhNtKtUAADFY+rvSi3nA7dbaPRfjrSXYxHqX8iq5N6WTOntqEQZrEwW3L84sirfKQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

  </head>



  <body>
    <%- include(`${path}partials/_header`, { active: 'top' }); %>

    <!-------------------------------------------------------->
    <!-- ▼ ココにコンテンツが入ります - end -->
    <!-------------------------------------------------------->
    コンテンツが入ります！<br />
    コンテンツが入ります！


    <!-- [リンク 参考] template ページへリンク -->
    <div style="margin: 20px;">
      <a href="/template/">
        他のページへリンク<br>
        サンプルは、template という名前のページ
      </a>
    </div>

    <!-- [画像 参考] -->
    <!-- 注意事項
      画像ファイルは、.svg, .gif 以外は .webp という形式（ファイルサイズが軽い画像）に変換されるので、
      その際は拡張子が .webp になるので注意
     -->
    <div style="margin: 20px;">
      <img src="/images/icon-twitter-circle.svg" alt="" width="100px" height="auto" />
    </div>

    <!-- [swiper 参考] -->
    <div class="top-swiper" style="width: 500px; margin: 100px auto; overflow: hidden;">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            src="/images/swiper-slide-01.webp"
            alt=""
            width=""
            height=""
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/images/swiper-slide-02.webp"
            alt=""
            width=""
            height=""
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/images/swiper-slide-03.webp"
            alt=""
            width=""
            height=""
          />
        </div>
      </div>
      <!-- // .swiper-wrapper -->
    </div>
    <!-- // .swiper -->



    <!-------------------------------------------------------->
    <!-- ▲ ココにコンテンツが入ります - end -->
    <!-------------------------------------------------------->

    <%- include(`${path}partials/_footer`); %>
    <!-- jQuery, 共通で使用する src/assets/js/common.js を読み込み -->
    <%- include(`${path}partials/_common_js`); %>

    <!-- ▼ ページ固有の js はココで読み込む -->
    <!-- swiper(スライダー) を読み込んでいる -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.5/swiper-bundle.min.js"
      integrity="sha512-wdUM0BxMyMC/Yem1RWDiIiXA6ssXMoxypihVEwxDc+ftznGeRu4s9Fmxl8PthpxOh5CQ0eqjqw1Q8ScgNA1moQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/js/index.js"></script>

  </body>
</html>
